/* **
* bootstrap.css
** */
.alert {
	margin-left: 0px;
	margin-bottom: 0px;
}

/* **
* AdminLTE.css
** */
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
	border-left: #357ca5 5px solid;
}

.right-side > .content-header {
	padding: 10px 15px 10px 20px;
}

/* **
* jQuery UI
** */
.ui-front {
	z-index: 1051;
}